body{
    background-color:blanchedalmond;
    max-width: 800px;
    
    margin-left: 30%;
}

p{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.intro-text{
    color:hotpink;
    width: 20%;
}
.navigation{
    position: fixed;
    font-size: medium;
    color:coral;
    font-family:'Courier New', Courier, monospace;
    top: 10%;
    left: 10%;
}
img{
    margin: auto;
    display: block;
    width: 100%;  
}